.am-tabs-default-bar-underline {
    border: 0;
}
.nav .am-whitespace {
    height: 0;
}
.nav .am-tabs-default-bar {
    height: 3rem;
}

.nav .am-tabs-default-bar-content {
    position: fixed;
    z-index: 999;
    background-color: white;
}