.mybag {
    background-color: white;
}
.goods-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f5f5f5f5;
    margin-bottom: 4rem;
    padding-top: 1rem;
}
.goods-box::after {
    content: '';
    width: 30%;
}