.mybox {
    background-color: rgb(230, 231, 251);
}
.itemBox {
    margin: 0.3rem;
    background-color: white;
}
.mybox img{
    width: 100%;
    height: 15rem;
    
}
.mybox .name {
    padding-left: 1rem;
    font-size: 1.1rem;
    margin: 0.5rem 0;
}
.samllBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mybox .price {
    padding-left: 1rem;
    color: #ea625b;
    padding-bottom: 1rem;
}
.mybox .buy {
    background-color:#ea625b ;
    color: white;
    text-align: center;
    height: 2rem;
    width: 6rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    margin-right: 1rem;
}