.Classification{
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1rem 0;

}


.classItem{
    width: 19%;
    background-color: white;
    color: lightgrey;
    
}
.classItem a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.classItem img {
    width: 3rem;
    height: 3rem;
    padding: 0.4rem;
    box-sizing: border-box;
   

}