.detail_box{
    width:100%;
    /* background:blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.detail_items{
    width: 100%;
    height: 80%;

}
.detail_items img{
    width: 100%;
    height: 60%;
    display: block;
}
.detail_items p{
    width: 100%;
    height: 40%;
    
}